{% extends "layout.html" %} {% block title %} Audio Annotation Tool {% endblock %} {% block body %}
<br>

<a href="{{url_for('dashboard')}}" class="btn btn-primary">📈 Dashboard</a>
<a href="{{url_for('logout')}}" class="btn btn-primary">❌ Logout</a>


<hr>
<p><b>📊 Progress: </b>{{num_annotations}} / {{dataset_size}}</p>


<p>ID:
    <div id="id-sentence">{{utt_id}}</div>
</p>

<br>
<p>Leggi la frase seguente</p>

<h4 id="target-sentence">{{utt_text}}</h4>

<br>
<br>

<div id="audio-div">

</div>


<br>
<br>
<div id="controls">
    <button class="btn btn-success" id="startRecording">Start recording</button> &nbsp;&nbsp;
    <button class="btn btn-danger" id="stopRecording" disabled>Stop recording</button>
</div>

<hr>
<br>

<select name="device" id="device" required>
    <option {% if device is none %} selected {% endif %} value=""></option>
    <option {% if device == 'computer' %} selected {% endif %} value="computer">Computer</option>
    <option {% if device == 'headphones' %} selected {% endif %} value="headphones">Cuffie</option>
    <option {% if device == 'phone' %} selected {% endif %} value="phone">Telefono</option>
    <option {% if device == 'other' %} selected {% endif %} value="other">Altro</option>
</select>

<br>
<br>

<select name="environment" id="environment" required>
    <option {% if environment is none %} selected {% endif %} value=""></option>
    <option {% if environment == 'noisy' %} selected {% endif %} value="noisy">Molto Rumoroso</option>
    <option {% if environment == 'quiet' %} selected {% endif %} value="quiet">Poco Rumoroso</option>
    <option {% if environment == 'silent' %} selected {% endif %} value="silent">Silenzioso</option>
    <option {% if environment == 'other' %} selected {% endif %} value="other">Altro</option>
</select>

<br>
<br>
<br>


<br>
<button class="btn btn-primary" type="button" onclick="sendData()" id="sendDataButton">Submit</button>
<button class="btn btn-danger" type="button" onclick="cancelAudio()" id="sendDataButton">Cancel</button>

<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    navigator
        .mediaDevices
        .getUserMedia({
            audio: true
        })
        .then(stream => {
            handlerFunction(stream)
        });

    function handlerFunction(stream) {

        var options = {
            mimeType: 'audio/webm;codecs=opus'
        }


        rec = new MediaRecorder(stream, options);
        rec.ondataavailable = e => {
            audioChunks.push(e.data);
            if (rec.state == "inactive") {
                let blob = new Blob(audioChunks, {
                    type: 'audio/webm'
                });
                var url = URL.createObjectURL(blob);

                var div = document.getElementById('audio-div');

                if (document.contains(document.getElementById("audio-container"))) {
                    document.getElementById("audio-container").remove();
                }

                var container = document.createElement('audio');
                container.setAttribute("id", "audio-container")
                container.setAttribute("name", "recording")
                container.controls = true

                var source = document.createElement('source');
                div.appendChild(container)
                container.appendChild(source);

                source.setAttribute('src', url);
                source.setAttribute('type', 'audio/mpeg');

                console.log({
                    src: source.getAttribute('src'),
                    type: source.getAttribute('type'),
                });
                //sendData(blob);
            }
        }
    }

    function sendData() {
        sendDataButton.disabled = true;

        if (typeof audioChunks === 'undefined') {
            alert("You need to record something first!");
            return;
        }

        if (audioChunks.length == 0) {
            alert("You need to record something first!")
            return
        }
            

        let blob = new Blob(audioChunks, {
            type: 'audio/webm'
        });

        // check if the user has selected a device
        var device = document.getElementById("device").value;
        if (device == "") {
            alert("You need to select a device!");
            return;
        }

        // check if the user has selected an environment
        var environment = document.getElementById("environment").value;
        if (environment == "") {
            alert("You need to select an environment!");
            return;
        }

        var form = new FormData();
        form.append('file', blob, 'file');
        form.append('utt_id', document.getElementById("id-sentence").innerText);
        form.append('device', document.getElementById("device").value);
        form.append('environment', document.getElementById("environment").value);
        console.log(blob)

        //Chrome inspector shows that the post data includes a file and a title.
        $.ajax({
            type: 'POST',
            url: '/submit',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        }).done(function(response) {
            console.log(response);
            startRecording.disabled = true;
            stopRecording.disabled = true;
            if (response.message == "Done") {
                window.location.replace("/annotation");
            } else {
                alert("Error. Please refresh the page.")
            }

        });
    }

    startRecording.onclick = e => {
        console.log('Recording is started..');
        startRecording.disabled = true;
        stopRecording.disabled = false;
        audioChunks = [];
        rec.start();
    };

    stopRecording.onclick = e => {
        console.log("Recording is stopped.");
        startRecording.disabled = false;
        stopRecording.disabled = true;
        rec.stop();
    };

    function cancelAudio() {
        element = document.getElementById("audio-container");
        element.parentNode.removeChild(element);
        startRecording.disabled = false;
        stopRecording.disabled = true;
        audioChunks = [];

    }
</script>
{% endblock %}