{% extends "layout.html" %} {% block title %} Audio Annotation Tool {% endblock %} {% block body %}

<div class="container-fluid" style="background-image: linear-gradient(#57AFFA, #D8ECFD); height: 100">

    <div class="text-center">
        <img src="audio_files/static/images/RiTA_logo.png" class="img-fluid" alt="RiTA Logo" height="150" width="150">
    </div>

    <br>

    <div class="d-flex justify-content-between">
        <a href="{{url_for('dashboard')}}" class="btn btn-info">📈 Torna alla homepage</a>
        <a href="{{url_for('logout')}}" class="btn btn-warning">❌ Effettua il Logout</a>
    </div>

    <div id="loader" style="display: none"></div>

    <hr>

    <p> 📊 Hai annotato {{num_annotations}} file audio fino ad ora. </p>
    <p> 🛑 L'audio da annotare deve essere compreso tra i 0.5 e i 10 secondi. </p>
    <p> 
        Puoi premere <code>barra spaziatrice</code> per iniziare e fermare la registrazione.
        <br>
        Puoi premere <code>CTRL o CMD + Invio</code> per inviare la registrazione.
        <br>
        Puoi premere <code>P</code> per ascoltare la registrazione.
        <br>
        Puoi premere <code>ESC</code> per caricare una nuova frase.
    </p>

    <p style="display: none">
        ID della frase corrente: 
        <div id="id-sentence" style="display: none">{{utt_id}}</div> 
    </p>

    <br>

    <p>Leggi la seguente frase (dando la giusta intonazione):</p>

    <h4 id="target-sentence">{{utt_text}}</h4>

    <br>

    <div id="audio-div"></div>

    <h1>{{utt_id}}</h1>

    <br>

    <div id="controls">
        <button class="btn btn-success" id="startRecording">Inizia a registrare</button> &nbsp;&nbsp;
        <button class="btn btn-danger" id="stopRecording" disabled>Interrompi la registrazione</button>
    </div>

    <br>

    <p>Seleziona il tipo di dispositivo che stai usando:</p>
    <select name="device" id="device" required>
        <option {% if device is none %} selected {% endif %} value=""></option>
        <option {% if device == 'computer' %} selected {% endif %} value="computer">Microfono del computer</option>
        <option {% if device == 'phone' %} selected {% endif %} value="phone">Microfono dello smartphone</option>
        <option {% if device == 'headphones' %} selected {% endif %} value="headphones">Cuffie</option>
        <option {% if device == 'other' %} selected {% endif %} value="other">Altro</option>
    </select>

    <br><br>

    <p>Descrivi il tipo di ambiente in cui stai registrando:</p>
    <select name="environment" id="environment" required>
        <option {% if environment is none %} selected {% endif %} value=""></option>
        <option {% if environment == 'noisy' %} selected {% endif %} value="noisy">Molto Rumoroso (es. strada, aeroporto, stazione)</option>
        <option {% if environment == 'quiet' %} selected {% endif %} value="quiet">Poco Rumoroso (es. interno casa, ufficio)</option>
        <option {% if environment == 'silent' %} selected {% endif %} value="silent">Silenzioso (es. stanza chiusa)</option>
        <option {% if environment == 'other' %} selected {% endif %} value="other">Altro</option>
    </select>

    <br><br>

    <br>
    <button class="btn btn-success" type="button" onclick="sendData()" id="sendDataButton">Conferma e invia</button>
    <button class="btn btn-danger" type="button" onclick="cancelAudio()" id="sendDataButton">Annulla</button>

    <br><br>

    <br>
    <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-2 px-2 px-xl-3 bg-primary">
        <div class="text-white mb-3 mb-md-0"> Copyright © 2022 RiTA. Tutti i diritti sono riservati.</div>
    </div>

</div>

<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<!-- <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

    var ua = window.navigator.userAgent;
    var iOS = !!ua.match(/iPad/i) || !!ua.match(/iPhone/i);
    // var webkit = !!ua.match(/WebKit/i);
    // var iOSSafari = iOS && webkit && !ua.match(/CriOS/i);

    if (iOS) { mimeType = 'audio/aac'; } else { mimeType = 'audio/webm'; }

    // mimeType = 'audio/webm';
    // if (!MediaRecorder.isTypeSupported) {
    //     mimeType = 'audio/mp4';
    // }

    

    navigator
        .mediaDevices
        .getUserMedia({
            audio: true
        })
        .then(stream => {
            handlerFunction(stream)
        });

    function handlerFunction(stream) {

        var options = {
            mimeType: mimeType
            // type: 'audio/webm;codecs=pcm'
        }


        rec = new MediaRecorder(stream, options);
        // let rec = RecordRTC(stream, options);

        rec.ondataavailable = e => {
            audioChunks.push(e.data);

            if (rec.state == "inactive") {

                let blob = new Blob(audioChunks, {
                    type: mimeType
                    // type: 'audio/webm'
                });
                
                var url = URL.createObjectURL(blob);

                var div = document.getElementById('audio-div');

                if (document.contains(document.getElementById("audio-container"))) {
                    document.getElementById("audio-container").remove();
                }

                var container = document.createElement('audio');
                container.setAttribute("id", "audio-container")
                container.setAttribute("name", "recording")
                container.controls = true

                var source = document.createElement('source');
                div.appendChild(container)
                container.appendChild(source);

                source.setAttribute('src', url);
                source.setAttribute('type', 'audio/mpeg');
                container.setAttribute("preload", "metadata")
                // solve the problem of duration infinity
                
                // play the audio muted
                /*
                container.muted = true;
                container.play();

                // when play is finished, unmute the audio
                container.onended = function() {
                    container.muted = false;
                    container.currentTime = 0;
                };
                */

                console.log({
                    src: source.getAttribute('src'),
                    type: source.getAttribute('type'),
                });
            }
        }
    }

    function sendData() {
        sendDataButton.disabled = true;

        if (typeof audioChunks === 'undefined') {
            alert("Devi registrare qualcosa prima di proseguire!");
            return;
        }

        if (audioChunks.length == 0) {
            alert("Devi registrare qualcosa prima di proseguire!")
            return
        }

        let blob = new Blob(audioChunks, {
            type: 'audio/webm'
        });

        // check if the user has selected a device
        var device = document.getElementById("device").value;
        if (device == "") {
            alert("Devi selezionare un dispositivo!");
            return;
        }

        // check if the user has selected an environment
        var environment = document.getElementById("environment").value;
        if (environment == "") {
            alert("Devi selezionare un ambiente!");
            return;
        }

        var audio = document.getElementById("audio-container");
        
        // check audio length (max 10 seconds, min 0.5 seconds)
        /*
        if (audio.duration > 10 || audio.duration < 0.5) {
            alert("La durata del file audio deve essere compresa tra 0.5 e 10 secondi!");
            return;
        }
        */

        JsLoadingOverlay.show({
            'overlayBackgroundColor': '#666666',
            'overlayOpacity': 0.6,
            'spinnerIcon': 'ball-atom',
            'spinnerColor': '#000',
            'spinnerSize': '2x',
            'overlayIDName': 'overlay',
            'spinnerIDName': 'spinner',
            'spinnerZIndex':99999,
            'overlayZIndex':99998
          });

        var form = new FormData();
        form.append('file', blob, 'file');
        form.append('utt_id', document.getElementById("id-sentence").innerText);
        form.append('device', document.getElementById("device").value);
        form.append('environment', document.getElementById("environment").value);
        form.append('mimeType', mimeType);
        console.log(blob)

        // Chrome inspector shows that the post data includes a file and a title.
        $.ajax({
            type: 'POST',
            url: '/submit',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        }).done(function(response) {
            console.log(response);
            startRecording.disabled = true;
            stopRecording.disabled = true;
            if (response.message == "Done") {
                JsLoadingOverlay.hide();
                window.location.replace("/annotation");
            } else {
                JsLoadingOverlay.hide();
                alert("Si è verificato un errore. Per favore ricarica la pagina.")
            }

        });
    }

    startRecording.onclick = e => {
        console.log('Recording is started..');
        startRecording.disabled = true;
        stopRecording.disabled = false;
        audioChunks = [];
        rec.start();
        // rec.startRecording();
    };

    stopRecording.onclick = e => {
        console.log("Recording is stopped.");
        startRecording.disabled = false;
        stopRecording.disabled = true;
        rec.stop();
        // rec.stopRecording();
    };

    function cancelAudio() {
        element = document.getElementById("audio-container");
        element.parentNode.removeChild(element);
        startRecording.disabled = false;
        stopRecording.disabled = true;
        audioChunks = [];

    }

    // on CMD+Enter or CTRL+Enter send data
    document.addEventListener('keydown', function(event) {
        if (event.keyCode == 13 && (event.metaKey || event.ctrlKey)) {
            sendData();
        }
    });
    
    document.body.onkeyup = function(e) {
        
        // start or stop recording with spacebar
        if (e.keyCode == 32) {
            if (document.getElementById("startRecording").disabled == false) {
                startRecording.click();
            } else {
                stopRecording.click();
            }
        }

        // play audio with p
        if (e.keyCode == 80 || e.keyCode == 112) {
            var audio = document.getElementById("audio-container");
            if (audio != null) {
                audio.play();
            } else {
                alert("Non hai registrato alcun audio!");
            }
        }

        // skip sentence with ESC
        if (e.keyCode == 27) {
            JsLoadingOverlay.show({
                'overlayBackgroundColor': '#666666',
                'overlayOpacity': 0.6,
                'spinnerIcon': 'ball-atom',
                'spinnerColor': '#000',
                'spinnerSize': '2x',
                'overlayIDName': 'overlay',
                'spinnerIDName': 'spinner',
                'spinnerZIndex':99999,
                'overlayZIndex':99998
              });
            window.location.replace("/annotation");
        }
    }

</script>

{% endblock %}