{% extends "layout.html" %} {% block title %} Audio Annotation Tool {% endblock %} {% block body %}
<!-- <br>

<a href="{{url_for('annotation')}}" class="btn btn-primary">🎤 Inizia ad annotare</a>
<a href="{{url_for('verification')}}" class="btn btn btn-info">✅ Verifica le annotazioni</a>
<a href="{{url_for('logout')}}" class="btn btn-warning">❌ Logout</a>
<hr>

<h5>👋 Ciao {{ username }}!</h5>
<br>
<p>Grazie per aver annotato con noi! </p>
<br>
<p>Hai già annotato {{ num_annotations }} file di audio.</p>

<br> -->

<!-- <section class="vh-100" style="background:#D8ECFD !important"> -->
<!-- <div class="container-fluid" style="background-image: linear-gradient(#D8ECFD, #0488F9); height: 100%"> -->
<div class="container-fluid" style="background-image: linear-gradient(#57AFFA, #D8ECFD); height: 100%">

  <div class="text-center">
    <img src="audio_files/static/images/RiTA_logo.png" class="img-fluid" alt="RiTA Logo" height="150" width="150">
  </div>

  <h1 class="display-4 text-white"> 👋 Ciao {{ username }}! </h1>

  <p class="lead"> Grazie per dedicarci del tempo prezioso!</p>

  <hr class="my-4">
  <p> Hai già annotato {{ num_annotations }} file di audio. </p>
  
  <br><br>

  <p class="lead">
      <div class="text-center"><a href="{{url_for('annotation')}}" class="btn btn-success">🎤 Inizia o continua ad annotare</a></div>
      <br>
      <div class="text-center"><a href="{{url_for('verification')}}" class="btn btn-primary">✅ Verifica le annotazioni di altri utenti</a></div>
      <br>
      <div class="text-center"><a href="{{url_for('logout')}}" class="btn btn-warning">❌ Effettua il Logout</a></div>
  </p>

  <br><br><br>

  <div         
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-2 px-2 px-xl-3 bg-primary">
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2022. Tutti i diritti sono riservati.
    </div>
  </div>

</div>

{% endblock %}