{% extends "layout.html" %} {% block title %} Audio Annotation Tool {% endblock %} {% block body %}
<br>

<a href="{{url_for('annotation')}}" class="btn btn-primary">🎤 Inizia ad annotare</a>
<a href="{{url_for('verification')}}" class="btn btn-primary">✅ Verifica le annotazioni</a>
<a href="{{url_for('logout')}}" class="btn btn-primary">❌ Logout</a>
<hr>

<h5>👋 Hi {{ username }}!</h5>
<br>
<p>Thanks for annotating with us!</p>
<br>
<p>You have annotated {{ num_annotations }} audio files.</p>


<br>

{% endblock %}