{% extends "layout.html" %} {% block title %} Login page {% endblock %} {% block body %}

<div class="container-fluid" 
    style="background-image: linear-gradient(#57AFFA, #D8ECFD); height: 100%">

    <div class="text-center">
        <img src="https://raw.githubusercontent.com/MorenoLaQuatra/audio-annotation-platform/main/images/RiTA_logo.png?token=GHSAT0AAAAAABRX5YQ4CYSPMAI7UC7WJXRQY3RPC5Q" 
        class="img-fluid" alt="RiTA Logo" height="150" width="150">
    </div>
    
    <br><br>
    <br><br>

    <h1 class="text-center">🎉 Congratulazioni! 🎉</h1>

    <br><br><br>

    <h3 class="text-center"> Abbiamo raggiunto l'obiettivo di annotare l'intera collezione di dati! </h3>

    <br><br>

    <h5 class="text-center"> 
        Grazie per il vostro aiuto, avete contribuito alla prossima generazione 
        di sistemi di Intelligenza Artificiale per il mondo audio!  
    </h5>

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

    <div 
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-2 px-2 px-xl-3 bg-primary">
        <div class="text-white mb-3 mb-md-0">
          Copyright © 2022. Tutti i diritti sono riservati.
        </div>
    </div>

</div>

{% endblock %}