{% extends "layout.html" %} {% block title %} Login page {% endblock %} {% block body %}

<div class="container-fluid" style="background-image: linear-gradient(#57AFFA, #D8ECFD); height: 100%">

    <br>

    <h1>🎉🎉🎉 Congratulazioni! 🎉🎉🎉</h1>

    <h3> Abbiamo raggiunto l'obiettivo di annotare l'intera collezione di dati! </h3>>

    <h5> Grazie per il vostro aiuto, 
        avete contribuito alla prossima generazione di sistemi di "speech analysis"!  
    </h5>

    <br>

</div>div>
{% endblock %}