{% extends "layout.html" %} {% block title %} Informativa sulla privacy {% endblock %} {% block body %}

<!-- <section class="vh-100" style="background:#D8ECFD !important"> -->

    <div class="container-fluid" style="background-image: linear-gradient(#57AFFA, #D8ECFD); height: 100;">

        <div class="text-center">
            <img src="audio_files/static/images/RiTA_logo.png" class="img-fluid" alt="RiTA Logo" height="150" width="150">
        </div>

        <br><br>
        <h1 class="text-center">Informativa sulla privacy</h1>
        <p>Ultimo aggiornamento: 23 Novembre 2022</p>

        <br>

        <h2>Privacy</h2>

        <h4>Natura dei dati e finalità del trattamento.</h4>
        
        <p>Se decidi di registrarti alla piattaforma di annotazione per partecipare al progetto promosso da RiTA e fornire i Contributi e informazioni personali facoltativi (vedi Termini e Condizioni), vengono gestiti i seguenti dati e con le modalità in seguito descritte.</p>

        <ul>
            <li>
                <b>Dati demografici:</b> Se lo desideri, puoi fornire alcuni dati demografici o caratteristiche peculiari del tuo parlato. Questi dati aggiuntivi permettono di valutare e migliorare le prestazioni dei modelli di riconoscimento vocale, ad esempio rispetto ad accenti o età.
            </li>
            <li>
                <b>Dati dell'account:</b> Per usare la piattaforma di annotazione è necessario creare un account. Il tuo indirizzo email viene associato ai tuoi dati demografici e alle tue interazioni, ma non viene condiviso pubblicamente. Puoi eliminare il tuo account in qualsiasi momento; in tal caso, il tuo nome utente e il tuo indirizzo email verranno rimossi. I Contributi forniti spontaneamente dall'utente (vedi Termini e Condizioni) potranno comunque essere resi disponibili per il pubblico uso e consumo, in base a quanto previsto dalla Creative Commons Zero License (CC0), anche dopo la cancellazione del proprio account.
            </li>
            <li>
                <b>Registrazioni vocali:</b> Le registrazioni vocali, insieme a eventuali dati demografici forniti facoltativamente, possono essere resi disponibili per il pubblico uso e consumo, in base a quanto previsto dalla Creative Commons Zero License (<a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>).
            </li>
            <li>
                <b>Validazioni:</b> Se decidi di contribuire validando i contributi vocali di altri utenti, anche le validazioni possono essere rese disponibili per il pubblico uso e consumo in base alla <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>, in accordo a tutti i nostri campioni. Tali validazioni saranno associate al tuo account e i dati demografici da te inviati per fini di analisi, ma l’associazione non viene resa disponibile pubblicamente.
            </li>
            <li>
                <b>Dati tecnici e relativi alle interazioni:</b>Possiamo utilizzare i cookie per permettere l’erogazione del servizio di annotazioni. Possiamo raccogliere informazioni sul sistema operativo, sul tipo di browser utilizzato e sulla versione. 
                Tali informazioni ci permettono di comprendere come gli utenti interagiscono con la piattaforma e per migliorare il progetto.
            </li>
        </ul>
        
        <h4>Titolare del trattamento e responsabile per la protezione dei dati.</h4>
        <p>Titolare del trattamento dei dati personali e responsabile per la protezione dei dati è RiTA. </p>

        <h4>Diritti dell'utente.</h4>
        <p>L’interessato ha il diritto di richiedere l’accesso ai Suoi dati, la rettifica o la cancellazione del proprio account.</p>
        <p>L'ha il diritto di presentare reclamo presso l’autorità garante della privacy nel caso in cui creda si sia generato un illecito legato al trattamento dei suoi dati. Per esercitare i diritti sopraindicati, nonché per ricevere informazioni relative all'accesso e trattamento dei propri dati, l’utente potrà rivolgersi a RiTA.</p>


<!-- </section> -->

{% endblock %}