{% extends "layout.html" %} {% block title %} Condizioni e Termini d'uso{% endblock %} {% block body %}

<!-- <section class="vh-100" style="background:#D8ECFD !important"> -->

    <div class="container-fluid" style="background-image: linear-gradient(#57AFFA, #D8ECFD); height: 100;">

        <div class="text-center">
            <img src="audio_files/static/images/RiTA_logo.png" class="img-fluid" alt="RiTA Logo" height="150" width="150">
        </div>

        <br><br>
        <h1 class="text-center">Condizioni e Termini d'uso</h1>
        <p>Ultimo aggiornamento: 23 Novembre 2022</p>

        <br>

        <p>Il progetto di raccolta registrazioni in lingua italiana promosso da RiTA (Risorse per la lingua iTAliana) ha l'obiettivo di creare un database vocale open source in italiano pubblico e utilizzabile da chiunque. Il progetto ha finalità di ricerca.
        </p>
        
        <p>Tramite la piattaforma di annotazione, puoi donare la tua voce e altre risorse per realizzarlo.</p>
        <p>La tua partecipazione al progetto è soggetta all'accettazione delle seguenti Condizioni.</p>

        <h2>1. Idoneità</h2>

        <p>Il progetto di annotazione promosso da RiTA è un progetto aperto a chiunque abbia più di 18 anni. </p>
        <p>Partecipando, accetti di seguire i presenti Termini e Condizioni del progetto e le linee guida di RiTA.</p>

        <h2>2. Contributi</h2>

        <p>Il database risultante dal progetto di annotazione promosso da RiTA verrà reso pubblicamente disponibile in base alla <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 Public Domain Dedication</a>. 
        Partecipando al progetto, accetti che i tuoi Contributi (inclusi registrazioni vocali, validazioni e metadati) vengano offerti in base alla licenza <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> Public Domain Dedication e resi pubblici.</p>

        <br>

        <p>Per partecipare, è richiesto che i tuoi Contributi siano interamente creati da te e non violino diritti di terze parti.</p>
        <p>Chiunque non sia in grado di fornire queste due garanzie, non può partecipare al progetto.</p>

        <h2>3. Account</h2>

        <p>Per partecipare al progetto è necessario creare un account. </p>
        <p>La registrazione avviene tramite modulo di registrazione. Se scegli di partecipare, ti verrà richiesto di fornire un indirizzo e-mail. Se lo desideri, puoi fornire alcuni dati demografici o caratteristiche peculiari del tuo parlato.</p>

        <p>Questi dati aggiuntivi permettono di valutare e migliorare le prestazioni dei modelli di riconoscimento vocale, ad esempio rispetto ad accenti o età.</p>
        <p>Una volta registrato, l’accesso avverrà tramite username fornito via e-mail. Registrandoti, accetti che RiTA sia autorizzato a tener traccia delle informazioni relative ai tuoi Contributi; associare tali Contributi al tuo account, indirizzo e-mail e alle informazioni demografiche che fornisci; rendere pubblici i tuoi Contributi, insieme a eventuali informazioni demografiche in base alla <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 Public Domain Dedication.</a> </p>

        <br>

        <p>RiTA non pubblicherà e divulgherà il tuo indirizzo e-mail.</p>
        <p>I dati forniti dall’Utente con la compilazione del modulo saranno trattati nel rispetto e secondo le modalità stabilite dal D. LGS. 196/2003 (“Codice Privacy”) e GDPR sulla tutela della privacy, di cui viene fornita informativa prima della registrazione. L’informativa sulla privacy e il trattamento dei dati è consultabile in questa pagina.</p>

        <h2>4. Aggiornamenti delle Condizioni</h2>

        <p>RiTA si riserva il diritto di aggiornare in ogni tempo le presenti Condizioni. Le Condizioni aggiornate verranno pubblicate online. </p>
        <p>Verrà pubblicata la data di entrata in vigore delle presenti Condizioni sulla corrispondente pagina della piattaforma, in modo che sia possibile identificare chiaramente l'ultimo aggiornamento.</p>
        <p>L’uso della piattaforma di annotazione dopo la pubblicazione delle Condizioni aggiornate implica l'accettazione di tali modifiche.</p>

        <h2>5. Risoluzione</h2>

        <p>RiTA può sospendere o terminare l'accesso di qualunque utente alla piattaforma in qualsiasi momento e per qualunque ragione. In tal caso, cercheremo di avvisarti utilizzando l'indirizzo e-mail associato al tuo account o al tuo successivo tentativo di accesso alla piattaforma di annotazione.</p>
        <p>Le registrazioni inviate rimarranno pubblicamente disponibili nell'ambito del progetto promosso da RiTA, anche se deciderai di sospendere il tuo accesso o esso è terminato o sospeso.</p>

        <h2>6. Clausola di non responsabilità</h2>

        <p>Partecipando al progetto, accetti che RiTA non sarà ritenuta in alcun modo responsabile per l'eventuale impossibilità di utilizzare la piattaforma o per qualsiasi reclamo derivante dalla mancata applicazione delle presenti Condizioni. Nello specifico, Mozilla non sarà ritenuta responsabile per quanto segue: danni indiretti, speciali, incidentali, consequenziali o esemplari; danni diretti o indiretti per perdita di avviamento, interruzione di attività, perdita di profitti, perdita di dati, guasto o malfunzionamento di computer. </p>

        <p>I risultati di annotazione sono forniti come risultato dell’annotazione e validazioni degli utenti del progetto che accettano tali Condizioni. RiTA non dà alcun tipo di garanzia, espressa o implicita, e con la presente disconosce e nega qualsiasi altro tipo di garanzia o adeguatezza a particolari scopi. Inoltre, RiTA non garantisce o rilascia dichiarazioni o garanzia riguardo l’accuratezza, eventuali esiti, o affidabilità dell’utilizzo dei materiali derivanti dal processo di annotazione.</p>

        <h2>7. Sospensione dei Servizi</h2>
        
        <p>RiTA si riserva il diritto di sospendere o interrompere, anche definitivamente, in ogni momento e senza preavviso, l’attività di annotazione tramite piattaforma.</p>
        <p>RiTA declina ogni responsabilità in relazione ai potenziali danni causati dall’interruzione del servizio di annotazione o mancata erogazione, anche se derivanti da black-out o da guasti dei server della piattaforma.</p>

        <h2>8. Legge applicabile </h2>

        <p>Le presenti Condizioni Generali sono regolate dalla legge italiana.</p>
        <p>Le presenti Condizioni costituiscono l'intero accordo di partecipazione dell’utente al progetto di annotazione promosso da RiTA.</p>


<!-- </section> -->

{% endblock %}