{% extends "layout.html" %} {% block title %} Audio Annotation Tool {% endblock %} {% block body %}
<div class="container-fluid" style="background-image: linear-gradient(#57AFFA, #D8ECFD); height: 100%">

    <div class="text-center">
        <img src="https://raw.githubusercontent.com/MorenoLaQuatra/audio-annotation-platform/main/images/RiTA_logo.png?token=GHSAT0AAAAAABRX5YQ4CYSPMAI7UC7WJXRQY3RPC5Q"
        class="img-fluid" alt="RiTA Logo" height="150" width="150">
    </div>

    <br>

    <div class="d-flex justify-content-between">
        <a href="{{url_for('dashboard')}}" class="btn btn-info">📈 Torna alla homepage</a>
        <a href="{{url_for('logout')}}" class="btn btn-warning">❌ Effettua il Logout</a>
    </div>

    <hr>

    <p>ID:
        <div id="id-sentence">{{utt_id}}</div>
    </p>

    <br>
    <p>La frase corrispondente è la seguente: <b>{{utt_text}}</b> - (verifica attuale: {{prev_verification_score}})</p>

    <br><br>

    <div id="audio-div">
        <!-- Audio File for preview -->
        <audio controls>
            <source src="{{utt_path}}" type="audio/wav">
        </audio>
    </div>


    <br><br>
    <p> Come valuteresti questa frase? </p>
    <div id="controls">
        <button class="btn btn-success" id="positive-evaluation">Corretta</button> &nbsp;&nbsp;
        <button class="btn btn-danger" id="negative-evaluation">Errata</button>
    </div>

    <br>
    <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-2 px-2 px-xl-3 bg-primary">
        <div class="text-white mb-3 mb-md-0">
          Copyright © 2022. Tutti i diritti sono riservati.
        </div>
    </div>

</div>

<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    
    var positiveButton = document.getElementById('positive-evaluation');
    var negativeButton = document.getElementById('negative-evaluation');
    
    positiveButton.addEventListener('click', function() {
        var form = new FormData();
        form.append('utt_id', '{{utt_id}}');
        form.append('utt_text', '{{utt_text}}');
        form.append('evaluation', 'positive');

        sendVerificationData(form);
    });

    negativeButton.addEventListener('click', function() {
        var form = new FormData();
        
        form.append('utt_id', '{{utt_id}}');
        form.append('utt_text', '{{utt_text}}');
        form.append('evaluation', 'negative');

        sendVerificationData(form);

    });

    function sendVerificationData(form) {

        // disable buttons
        positiveButton.disabled = true;
        negativeButton.disabled = true;

        $.ajax({
            type: 'POST',
            url: '/verify',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        }).done(function(response) {
            console.log(response);
            if (response.message == "Done") {
                window.location.replace("/verification");
            } else {
                alert("Error. Please refresh the page.")
            }

        });
    }

    
</script>
{% endblock %}